<h2>查看产品<%= @product.title %>所有评论</h2>

<div style="height:20px;">

</div>

<div class="row">
  <div class="col-md-12">
    <% if @product.comments.present? %>
      <% @product.comments.each do |comment| %>
      <div style="color: orange;">
        用户：<%= User.find_by(id: comment.user_id ).email %>说：
      </div>
        <%= comment.description  %>
        <hr>
      <% end %>
    <% else %>
    还没有用户发表评论～
    <% end %>
  </div>
</div>
