<div class="col-md-12">
   <div class="row box">
     <div class="box-inner col-md-8 col-md-offset-6">
       <h1 class="title"></h1>
        <p class="slogan">
         <br>
         <br>
       </p>
       <p class="lead">
         <!-- <%= link_to '马上约车', products_path, class: 'btn btn-info' %> -->
       </p>
     </div>
   </div>
 </div>

<div class="row">
  <div class="content-a">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="text-align ">让超跑不再离普通人遥远</h3>
        <p class="col-md-6 col-md-offset-3 text-center tagp">
          “让爱超跑的人，都可以有机会体验超跑的速度和激情”
          拥有超跑可能对于普通都只是遥远的梦想，superCar让你只要用几百块钱就可以体验。
        </p>
        <img src="https://ooo.0o0.ooo/2017/05/30/592d395dbaa25.jpg" alt="轮胎">
      </div>
    </div>
  </div>
</div>

<!-- 今日推荐 -->
<div class="row">
  <div class="content-b topspan">
    <div class="row">
      <div class="col-md-12">
        <h3 class="titspan"> 今日推荐 </h3>
      </div>
      <!-- 三图显示 -->
      <div class="box-recommend">
        <div class="col-md-3 box-recommend-listitem-1">
          <img src="https://ooo.0o0.ooo/2017/05/30/592d266f6ac9f.jpg" alt="推荐1">
          <br>
          <span>超跑1.。。</span>
        </div>
        <div class="col-md-3 box-recommend-listitem-2">
          <img src="https://ooo.0o0.ooo/2017/05/30/592d266f6ac9f.jpg" alt="推荐1">
          <br>
          <span>超跑1.。。</span>
        </div>
        <div class="col-md-3 box-recommend-listitem-3">
          <img src="https://ooo.0o0.ooo/2017/05/30/592d266f6ac9f.jpg" alt="推荐1">
          <br>
          <span>超跑1.。。</span>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- 产品列表 -->
<div class="row">
  <div class="content-c topspan">
    <div class="row">
      <div class="col-md-12">
        <h3 class="titspan"> 热销商品 </h3>
      </div>
      <!-- <div class="col-md-6">
        <h3 class="titspan"> 更多... </h3>
      </div> -->
      <div class="col-xs-6 col-md-3 text-center product-list-style">
          <a target="_blank" href="/products/1"><img class="product-list-style-img img-responsive center-block" src="https://ooo.0o0.ooo/2017/05/30/592d395dbaa25.jpg" alt="Thumb img03"></a>
          <br>
          <a target="_blank" href="/products/1">宝马1</a>
          <br>
          <strong>￥ <a target="_blank" href="/products/1">500</a></strong><p></p>
      </div>
      <div class="col-xs-6 col-md-3 text-center product-list-style">
          <a target="_blank" href="/products/1"><img class="product-list-style-img img-responsive center-block" src="https://ooo.0o0.ooo/2017/05/30/592d395dbaa25.jpg" alt="Thumb img03"></a>
          <br>
          <a target="_blank" href="/products/1">宝马1</a>
          <br>
          <strong>￥ <a target="_blank" href="/products/1">500</a></strong><p></p>
      </div>
      <div class="col-xs-6 col-md-3 text-center product-list-style">
          <a target="_blank" href="/products/1"><img class="product-list-style-img img-responsive center-block" src="https://ooo.0o0.ooo/2017/05/30/592d395dbaa25.jpg" alt="Thumb img03"></a>
          <br>
          <a target="_blank" href="/products/1">宝马1</a>
          <br>
          <strong>￥ <a target="_blank" href="/products/1">500</a></strong><p></p>
      </div>
      <div class="col-xs-6 col-md-3 text-center product-list-style">
          <a target="_blank" href="/products/1"><img class="product-list-style-img img-responsive center-block" src="https://ooo.0o0.ooo/2017/05/30/592d395dbaa25.jpg" alt="Thumb img03"></a>
          <br>
          <a target="_blank" href="/products/1">宝马1</a>
          <br>
          <strong>￥ <a target="_blank" href="/products/1">500</a></strong><p></p>
      </div>
      <div class="col-xs-6 col-md-3 text-center product-list-style">
          <a target="_blank" href="/products/1"><img class="product-list-style-img img-responsive center-block" src="https://ooo.0o0.ooo/2017/05/30/592d395dbaa25.jpg" alt="Thumb img03"></a>
          <br>
          <a target="_blank" href="/products/1">宝马1</a>
          <br>
          <strong>￥ <a target="_blank" href="/products/1">500</a></strong><p></p>
      </div>
      <div class="col-xs-6 col-md-3 text-center product-list-style">
          <a target="_blank" href="/products/1"><img class="product-list-style-img img-responsive center-block" src="https://ooo.0o0.ooo/2017/05/30/592d395dbaa25.jpg" alt="Thumb img03"></a>
          <br>
          <a target="_blank" href="/products/1">宝马1</a>
          <br>
          <strong>￥ <a target="_blank" href="/products/1">500</a></strong><p></p>
      </div>
      <div class="col-xs-6 col-md-3 text-center product-list-style">
          <a target="_blank" href="/products/1"><img class="product-list-style-img img-responsive center-block" src="https://ooo.0o0.ooo/2017/05/30/592d395dbaa25.jpg" alt="Thumb img03"></a>
          <br>
          <a target="_blank" href="/products/1">宝马1</a>
          <br>
          <strong>￥ <a target="_blank" href="/products/1">500</a></strong><p></p>
      </div>
      <div class="col-xs-6 col-md-3 text-center product-list-style">
          <a target="_blank" href="/products/1"><img class="product-list-style-img img-responsive center-block" src="https://ooo.0o0.ooo/2017/05/30/592d395dbaa25.jpg" alt="Thumb img03"></a>
          <br>
          <a target="_blank" href="/products/1">宝马1</a>
          <br>
          <strong>￥ <a target="_blank" href="/products/1">500</a></strong><p></p>
      </div>
    </div>
  </div>
</div>

<!-- 广告图 -->
<div class="lp-section-bottom clearfix">
  <div class="bottom-content">
    <p>
    </p>
    <div>
      <a class="action-btn" href="products">马上约车</a>
    </div>
  </div>
</div>
