/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import url(http://fonts.googleapis.com/css?family=Roboto);



 body{
   // min-width: 1200px; //屏幕最小宽度
   // overflow: auto; //如果内容被修剪，则浏览器会显示滚动条以便查看其余的内容
   font-family: "微软雅黑";
 }
 /*===== 登录 ====*/
 .user_setup {
   background-image: image-url("benzamggt.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 800px;
   margin-top: -100px;

 }

 .user_setup_content {
   background: rgba(250, 250, 250, 0.39);
   margin-top: 150px;
   margin-bottom: 100px;
   padding-top: 20px;
   padding-bottom: 20px;
   box-shadow: 1px 3px 5px #333;
   border: 5px solid rgb(18,43,64);
   border-radius: 25px;
   opacity: 0.95;
   filter: alpha(opacity=95);
   h2{
        text-align: center;
   }

   .account {
     text-align: center;
   }

   .form-inputs {
     margin-top: 25px;
   }

   .form-actions {

     text-align: center;
     margin-top: 35px;
     margin-bottom: 25px;
     .btn-primary{
       background-color: #FBC02D;
       font-size: 16px;
       letter-spacing: 1px;
       width: 100%;
     }
   }
 }





 //---------Navbar---------
 .navbar-default {
     background-color: #212121;//背景色
     border-color: #212121; //边框色
     margin-bottom: 0;//底部外边框无
     border-radius: 0;//向 div元素添加圆角边框
 }

 .navbar-default .navbar-brand {
     color: #FF5722;//字体颜色
     padding: 10px 15px;//那边框上下10px，左右15px
     line-height: 30px;//文字行高
 }

 .navbar-default .navbar-brand:hover,
 .navbar-default .navbar-brand:focus {
     color: #FF5722;//鼠标放在导航链接上文字颜色
     background-color: transparent;//鼠标放在导航链接上背景颜色，设为透明，focus是选择器，选择获得焦点的 input 元素
 }

 .navbar-default .navbar-nav > li > a {
     color: #FF5722;//导航下每个li的颜色
 }

 .navbar-default .navbar-nav > li > a:hover,
 .navbar-default .navbar-nav > li > a:focus {
     color: #FF5722;//鼠标放在li上链接上文字颜色
     background-color: transparent;//鼠标放在li上链接上背景颜色
 }

 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
     color: #FF6F00;//.active选择器用于设置活动链接字体颜色
     background-color: #FFE0B2;//.active选择器用于设置活动链接背景颜色
 }

 .navbar-default .navbar-nav > .open > a,
 .navbar-default .navbar-nav > .open > a:focus,
 .navbar-default .navbar-nav > .open > a:hover {
     background-color: #FFE0B2;
     color: #212121;
 }

//导航栏图片设计
 .navbar-brand > img {
    display: inline-block;	//图片和链接文字显示在同一行
    margin-right: 10px; //图片和链接文字拉开一点距离，设置外边框右边距
    width: 32px; //定制图片宽度
    height: 32px; //定制图片高度
}

//---------Box---------
 .box {
      background-image: url("https://ws4.sinaimg.cn/large/006tNc79gy1fg3sju9d76j31400p0496.jpg");//背景图片
      background-position: center 60%;//取图的位置
      background-repeat: no-repeat;//是否设置重复背景，不重复
      background-size: cover;//会保持图像本身的宽高比例，将图片缩放到正好完全覆盖定义背景的区域
      margin-bottom: 50px;//底部外边框50px

      .box-inner {
          background-color: rgba(250, 250, 250, 0);//背景颜色以及透明度
          padding-bottom: 5px;//底部内边距
          margin-top: 450px;//顶部外边距
          margin-bottom: 150px;//底部外边距
      }

      .title {
          text-align: center;//文本居中
          margin-bottom: 80px;//底部外边距
          color: #E1F5FE; //文案颜色
      }

      .slogan {
          color: #E1F5FE; //文案颜色
          margin-top: 10px; //顶部外边距
          margin-bottom: 50px; //底部外边距
          text-align: center; //文本居中
          font-size: 25px; //字体大小
          top: 12px;//规定元素的顶部边缘。定义一个定位元素的上外边距边界与其包含块上边界之间的偏移?

      }

      .lead {
          margin-bottom: 10px;//底部外边距
          text-align: center;//底部外边距
          color: white;//文案颜色
      }
  }





//---------大图下面广告---------

.landing-page-mid {
  background-image: url(https://ws1.sinaimg.cn/large/006tNc79gy1fg4hfdvxepj31400p0n76.jpg);                                //给图片整好形
  height: 770px;
  background-size: cover;                             //确保图片完全撑开
  background-position: center center;
  background-repeat: no-repeat;
}
.landing-page-mid .tagline {                          //编写标题样式
  text-align: center;
  color: #424242;
  letter-spacing: 0.1em;                              //把字间距撑开，视觉感更优雅
  font-size: 1.6em;
  margin-top: 0;
}
.landing-page-mid .tagp {                             //编写内容样式
  text-align: center;
  color: #424242;
  font-size: 1.2em;
  margin-top: 2.5em;
  line-height: 2.5em;                                 //行间距也要拉开大一些
  letter-spacing: 0.18em;                             //把字间距撑开，视觉感更优雅
}






//---------三张文案图---------


// .lp-part-2 {
//     display: block;
//     width: 100%;
//     height: 550px;
//     min-width: 960px;
//
//     .lp-block-2 {
//         display: block;
//         width: 960px;  //宽度
//         height: 550px;   //高度
//         margin-left: auto;
//         margin-right: auto;
//         position: relative;
//         text-align: center;
//         padding-top: 60px;
//
//
//       .advantages {
//             color: #777777;
//             font-size: 16px;
//             line-height: 24px;
//         }
//       .pom-box {
//             width: 100px;
//             height: auto;
//             color: black;
//             font-size: 8em; //字体大小
//             display: inline-block; margin-right: 10px;
//             margin-bottom: 10px;
//         }
//       .pom-box:hover {
//             color:#E91E63;
//       }
//     }
// }
// .p-pom-box-47 {
//     display: block;
//     // background: white;
//     border-style: none;
//     border-radius: 0;
//     // top: 20%;
//     z-index: 38;
//     width: 300px;
//     height: 200px;
//     position: relative;
//     margin-left: 20px;
//     margin-top: 40px;
//     float: left;
//     background-color: trasnparent;
//     h3 {
//         color: #E91E63;
//         font-size: 20px;
//         font-weight: 700;
//     }
//     p {
//         font-size: 14px;
//         line-height: 24px;
//         color: #777777;
//         width: 260px;
//         margin-left: 20px;
//     }
// }
//---------content---------

//content-a,介绍
// .content-a {
//     height: 580px;
//     background-size: cover;
//     background-position: center center;
//     background-repeat: no-repeat;
//     margin-right: auto;
//     margin-left: auto;
//     padding-left: 15px;
//     padding-right: 15px;
// }
//
// .content-a > text-center{
//   margin-bottom: 20px;
// }
//
// .content-a > text-center > img{
//     width: 660px;//定制图片宽度
//     height: 32px; //定制图片高度
//     clear: both; //下面三行都是设置图片居中
//     clear: both;
//     display: block;
//     margin:auto;
//     margin-top: 50px;
//     background-color: #37474F
// }
//
// .container {
//     margin-right: auto;
//     margin-left: auto;
//     padding-left: 15px;
//     padding-right: 15px;
// }
//
// .row {
//     margin-left: -15px;
//     margin-right: -15px;
// }
//
//
// h1, h2,  h3, {
//     margin-top: 20px;
//     margin-bottom: 10px;
// }


//今日推荐
// .content-b {
//     margin-right: auto;
//     margin-left: auto;
//     padding-left: 15px;
//     padding-right: 15px;
//     //margin-bottom: 20px;
//     background-color: #000000;
//     //height: 400px;
//     color: #FF5722;
// }
//
// .topspan {
//     margin-top: 2em;
// }
//
// .titspan {
//     font-weight: 400;
//     margin-left: 10px;
//     margin-bottom: 20px;
// }

//猜你喜欢

// .box-recommend{
//   //height: 200px;
//   margin-bottom: 40px;
//   padding-bottom: 20px;
//   margin-left: 20px;
// }
// .box-recommend > .box-item {
//   height: auto;//180px;
//   //border: solid 1px #eee;
//   box-sizing: border-box;
// }
// .box-item .header {
//   height: 100px;
//   display: flex;
// }
// .box-item .icon {
//   width: 120px;
//   height: 80px;
//   margin: 7px 10px ;
// }
// .box-item .info {
//   margin-left: 10px;
//   flex: 1;
// }
// .box-item .desc {
//   height: 60px;
//   margin-top: 10px;
// }

//图片居中
// img{
//   clear: both;
//   display: block;
//   margin:auto;
// }
//
// .box-recommend-listitem{
//   width: auto;
//   //border: 1px solid #d8d8d8;
//   padding: 32px 20px 0px;
//   float: left;
//   margin-right: 10px;
//   margin-left: 30px;
// }


//商品列表
// .content-c{
//     margin-right: auto;
//     margin-left: auto;
//     padding-left: 15px;
//     padding-right: 15px;
//     //margin-bottom: 20px;
//     background-color: #000000;
//     color: #FF5722;
// }
// .col-xs-6 {
//     width: 50%;
//     float: left;
// }
//
// .col-md-3 {
//     width: 25%;
//     position: relative;
//     min-height: 1px;
//     padding-left: 15px;
//     padding-right: 15px;
// }
//
// .product-list-style {
//     margin: 3em auto 2em;
// }

//-------听他说----------
//整个div演示
// .titspan-say{
//   margin-left: 30px;
//   margin-bottom: 25px;
// }
//
// .he-say{
//   display: block;
//   width: 100%;
//   height: 400px;
//   min-width: 960px;
//   background-color: #f2f2f2;
// }
//
// .he-say > .content{
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   width: 960px;
//   height: 450px;
//   padding: 50px 0;
//   position: relative;
// }
//
// .he-say > .content > .content-left{
//   padding-left: 30px;
//   float: left;
//   width: 580px;
// }
//
// .he-say > .content > .content-left > .img{
//   float: left;
//   width: 90px;
//   text-align: center;
// }
// .he-say > .content > .content-left > >.content-info> .name{
//   float: left;
//   width: auto;
//   padding: 0 20px;
// }

//合作品牌
// .titspan-brand{
//   margin-left: 40px;
//   margin-bottom: 10px;
// }
//
// .content-d{
//   height: 400px;
// }
//
// .brand-img{
//   //background-image: url("https://ooo.0o0.ooo/2017/06/01/592fa698b0dd4.jpeg");
//   height: 200px;
//   display: flex;
//   justify-content: space-around;
//   vertical-align: middle;
// }

// .box-item .icon {
//   width: 100px;
//   height: 100px;
//   margin: 10px 10px;
// }



//---------Footer---------
.footer {
  //position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 25px;
  /* Set the fixed height of the footer here */
  // height: 200px;
  background-color: #212121;
  color: white;
  text-align: center;

  .footer-content {
    text-align: left !important;
    margin-left: 50px;
  }

  .footer > .img {
    margin: 5px;
    text-align: left
  }

  .footerlist{
    //margin-left: 30px;
    margin-bottom: 30px;
  }

//最后一个div需要左对齐
  .left_text{
    text-align: left
  }

  .footer >.row {
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
  }
 //
 //  .footer-below {
 //    border-top: 1px solid #000000;
 // }
}


//-----------**************______________
//---产品列表页----
.product-style{
  margin-top: 10px;
  margin-bottom: 30px;
}

//“商品”标题格式
.product-title{
  margin-left: 30px;
}

//"排序"格式
.dropdown-style{
  margin-right: 20px;
  float:right;
  padding:20px;
}

//商品列表
// .product-list-all{
//   margin: 20px 7px;
//
// }

//商品列表信息
// .product-list-info{
//   margin: 10px 15px ;
// }

//-----------**************______________
//----产品详情页-----
// .product-info{
//   margin-top: 20px;
//   margin-bottom: 30px;
// }
//
// .add-cart-btn{
//   margin-top: 130px;
//   margin-right: 80px;
// }
//
// .comments-list{
//   margin-left: 40px;
//   margin-bottom: 20px;
// }
