// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*  products index page */

/*商品列表*/

.product-box {
  text-align: center;
  padding: 0 0 100px 0;
  }
  .background-image {
    width: 100%;
    margin-bottom: 20px;
  }

  
