<footer class="footer">
  <div class="row">
    <div class="col-md-4 footerlist">
      <h4>友情链接</h4>
      <ul class="list-unstyled">
        <li>
          <a href="#s">汽车家</a>
        </li>
        <li>
          <a href="#s">人民网</a>
        </li>
      </ur>
  </div>
  <div class="col-md-4 footerlist">
      <h4>关于我们</h4>
      <ul class="list-unstyled">
        <li>
          <a href="#s">联系我们</a>
        </li>
        <li>
          <a href="#s">招贤纳士</a>
        </li>
      </ur>
  </div>

  <div class="col-md-4 footerlist">
      <h4>请联系我</h4>
      <li class="left_text">
        <a href="#s">邮箱：greatjing@sina.cn</a>
      </li>
      <li class="left_text">
        <a href="#s">logdown：http://greatjing-blog.logdown.com/</a>
      </li>
      <li class="left_text">
        <a href="#s">微信：jinggreat</a>
      </li>

      <!-- <img class="img" src='<%= image_url 'email.png' %> '>greatjing@sina.cn -->
      <!-- <br>
      微信：jinggreat -->
      <!-- <img class="img" src='<%= image_url 'weixin.png' %>' >jinggreat -->
      <!-- <br> -->

      <!-- <img class="img" src='<%= image_url 'wordpress.png' %>' >http://greatjing-blog.logdown.com/ -->
  </div>
  <hr>


  </div>
</footer>
